.lpgeneral {
    display: none;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
/* body {
    height: 100vh;
} */

@media (max-width: 517px) {
    body {
        height: 150vh;
    }
}