.user {
    display: none;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.fields {
    margin-top: 10px;
}
.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
}

.input-wrapper i {
    margin-right: 0.5rem;
    color: #333;
}

.input-wrapper input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
}

.input-wrapper input::placeholder {
    color: #aaa;
}

.show {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: #333;
    font-size: 1rem;
}
